/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <--------------- Global CSS ---------------> */
/* Chứa các thành phần CSS chung nhất cho trang web, thường lặp đi lặp lại: button,...  */
:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
}

/* <--------------- Header CSS ---------------> */

/* <--------------- Banner CSS ---------------> */

/* <--------------- About-us CSS ---------------> */

/* <--------------- Work CSS ---------------> */

/* <--------------- Services CSS ---------------> */

/* <--------------- Gallery CSS ---------------> */

/* <--------------- Progress CSS ---------------> */
#progress .content {
  display: flex;
  align-items: center;
}

.progress-img {
  width: 100%;
  border-radius: var(--border-radius);
}

.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7e7d7d;
}

.title-big {
  font-size: 35px;
  font-weight: 700;
}

/* <--------------- Testimonials CSS ---------------> */

/* <--------------- Blog CSS ---------------> */

/* <--------------- Subcribe CSS ---------------> */
.subscribe-section{
  background-image: url('../asset/img/map.png');
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-container{
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe-content{
  max-width: 700px;
  margin: 0 auto;
}

/* <--------------- Footer CSS ---------------> */